




div.image{
  text-align: center;
  border-style: groove;
  border-color: green;
  background-color: pink;
  border-radius: 90px;
  border-width: 100px;
}



div.intro {
margin: auto;
font-style: italic;


}

span.brick-wall {
  color: crimson;
  font-family: 'Luckiest Guy',cursive;
  font-size: 60pt;
  text-align: center;
  margin: auto;
  width: 100%;
}
h2 {
  margin: auto;
  text-align: center;
  font-style: normal;
}
